<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel = './public/stylesheet' href = 'style.css'/>
</head>
<body class = "body">
<p> Your Pizza</p>

<p> Fist  Name: <%= @pizza.first_name %> </p>
<p>Last Name: <%= @pizza.last_name%> </p>
<p>Pizza Topping: <%= @pizza.topping%></p>
<p> Quantity: <%= @pizza.quantity %></p>
<p>Total Cost: <%= @pizza.total %> </p>

</body>
</html>